.mail-preview {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
    background: transparent;
}

.mail-preview:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mail-preview__new {
    background: linear-gradient(90deg, transparent 80%, darkseagreen 100%);
}

.mail-preview__header {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.mail-preview__header__from {
    font-weight: boldest;
}

.mail-preview__header__subject {
    font-weight: bold;
}

.mail-preview__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    line-height: 1.5;
}

.mail-preview__footer {
    display: flex;
    flex: 1;
    place-content: flex-end;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.mail-preview__footer__date {
    font-size: 14px;
    font-weight: 400;
}

.mail-preview__selected {
    background-color: white;
}